/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jul 13, 2025, 10:46:59 AM
    Author     : hungc
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container {
    max-width: 1200px;
    margin: 0 100px;
    padding: 0 20px;
}

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.container-header a {
    text-decoration: none;
    color: white;
}

header {
    background: #2c3e50;
    color: white;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}
.welcome{
    background-image: url('image/lib_overview1.jpg');
}
.hero {
    padding: 3rem 0;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #f9f9f9;
}

.hero p{
    color: #f0f0f0;
}

.search-bar {
    display: flex;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.dropbox {
    flex: 0 0 auto;
    border: none;
    padding-left: 5px;
    height: 100%;
    min-width: 70px;
    background-color: white;
    font-size: 14px;
    border-right: 1px solid #ccc;
    cursor: pointer;
}

.search-bar input {
    padding: 10px 0 0 0;
    border: none;
    outline: none;
    background-color: white;
    font-size: 14px;
    max-width: 75%;
}

.search-bar button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background: white;
    color: #2c3e50;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    color: black;
    min-width: 130px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.m_book {
    margin-left: 30%;
}

.m_book a:hover{
    color: #3498db;
}

.log_reg{
    display: flex;
    gap: 15px;
}

.log_reg a:hover{
    color: #3498db;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.borrow-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  background: #fff;
}

.borrow-card img {
  width: 120px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.borrow-details h3 {
  margin: 0;
  color: #2c3e50;
}

.borrow-details p {
  margin: 4px 0;
  color: #555;
  line-height: 1.4;
}

.borrow-status {
  font-weight: bold;
  color: #e74c3c;
}


.borrow-btn {
    margin-top: 30px;
    padding: 8px 20px;
    background-color: #0376b8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.borrow-btn:hover {
    background-color: #025a8d;
}